<div class="profilePage hh" ng-show ="ProfileStatus">
<!--    <h1 class="ff" ng-show"userStatus">Welcome{{}}</h1>-->
    <h1>Profile Page</h1>
    Your name: {{nameUserProfile}} <br>
    Your surname: {{snameUserProfile}} <br>
    Your date b. : {{dateUserProfile}} <br>
    About your self : {{aboutUserProfile}} <br>
<!--    npm install ng-dialog --save поставити в сервері-->
    
    
    
    
    
    <button type="button" class="btn btn-labeled btn-danger" ng-click="logOut()">
                                <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>Exit
                            </button>
</div>




