<div ng-controller="firstCtrl as first">
<div ng-controller="secondCtrl as second">
	{{second.title}}<br>
	{{first.title}}
</div>
<!--
<input type="text" ng-model="filtik">
<div ng-repeat="a in arrTest2 | filter:filtik">
	{{a.title}}
	{{a.text}}
</div>
-->

<!--
<input type="text" ng-model="filtik">
<div ng-repeat="a in arrTest2 | filter:filtik">
-->
<!--	{{a.title | currency}}--> 
<!--	{{a.title | number:1}}-->
<!--	{{a.title | date: "dd MM yy"}}-->
<!--	{{a.title | date: uppercase}}-->
<!--</div>-->


</div>